__pycache__/
.ipynb_checkpoints/
.git/
models/FLAME2020/*.pkl
models/face_landmarker_v2_with_blendshapes.task
snapshot_fw.dump
train.ipynb
process_video.ipynb
gather_data.ipynb
FLAME_test_code.ipynb
data/
